/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/
body{
    font-family: Arial, sans-serif;
    font-size: 13px;
    text-align: center;
    padding: 0;
    margin: 0;
}
a{
    color: #2069b4;
    outline: none;
    text-decoration: underline;
}
a:hover{
    text-decoration: none;
}
h1,h2{
    margin: 0 0 15px;
}
h2{
    font-weight: bold;
    font-size: 18px;
}
p{
    margin: 0 0 15px;
}
ul{
    margin: 0;
    padding: 0;
}
ul li{
    list-style-type: none;
}
.wrapper{
    width: 960px;
    margin: 0 auto;
}
#top_panel_wrap{
    border-bottom: 1px solid #e0e0e1;
    position: fixed;
    width: 100%;
    z-index: 5;
}
#top_panel{
    background-color: #2a2e36;
    border-bottom: 1px solid #fff;
    height: 50px;
    line-height: 50px;
    text-align: left;
}
#top_panel a{
    display: inline-block;
    vertical-align: middle;
    line-height: 33px;
    height: 33px;
    color: #fff;
    background: url("icon-profile-grey.png") no-repeat 10px center #3f4551;
    font-size: 12px;
    padding: 0 10px 0 35px;
    text-decoration: none;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
#top_panel a.home{
    background: url("icon-profile-green.png") no-repeat 10px center #3f4551;
}
#top_panel a.profile{
    background: url("icon-settings.png") no-repeat 10px center #3f4551;
}
#top_panel a.logout{
    background: url("icon-logout.png") no-repeat 10px center #3f4551;
}
#top_panel a:hover{
    background-color: #5d6677;
}
#top_panel .sep{
    display: inline-block;
    width: 1px;
    height: 33px;
    vertical-align: middle;
    background-color: #3a404b;
}
#header{
    padding-top:52px;
    height: 66px;
    text-align: left;
    position: relative;
}
#logo{
    float: right;
    margin-top: 18px;
}
#page_title{
    float: left;
    margin-top: 12px;
    min-height: 41px;
}
#page_title.login{
    padding-left: 50px;
    background: url("icon-lock.png") no-repeat 0 center;
}
#page_title h1{
    margin: 0;
    font-weight: normal;
    font-size: 20px;
}
#page_title .hint{
    color: #9498a1;
    font-size: 11px;
    font-weight: bold;
}
#tab_controls{
    position: absolute;
    bottom: -1px;
}
#tab_controls .tab{
    display: inline-block;
    border: 1px solid #eeefef;
    height: 47px;
    line-height: 47px;
    font-size: 12px;
    padding: 0 10px 0 35px;
    text-decoration: none;
    color: #9498a1;
}
#tab_controls .me{
    background: url("icon-profile-grey.png") no-repeat 10px center;
}
#tab_controls .users{
    background: url("icon-users.png") no-repeat 10px center;
}
#tab_controls .news{
    background: url("icon-news.png") no-repeat 10px center;
}
#tab_controls .tab:hover,
#tab_controls .tab.active{
    color: #2a2e36;
    background-color: #f8f9fa;
    border-bottom: 1px solid #f8f9fa;
}
#tab_controls .tab.active{
    font-weight: bold;
}

#footer{
    color: #b1b3ba;
    line-height: 20px;
    padding: 25px 0 20px;
    font-family: "Trebuchet MS";
    font-size: 13px;
}
#main{
    background: url("main-bg.png") repeat-x 0 bottom #f8f9fa;
    border-bottom: 1px solid #e0e0e1;
    border-top: 1px solid #eeefef;
    padding-top: 20px;
    overflow: hidden;
}
#main .wrapper{
    margin-bottom: 20px;
}

.user_form{
    width: 256px;
    text-align: left;
    margin: 0 auto;
}
.user_form label{
    font-family: Tahoma;
    font-size: 14px;
}
.user_form input{
    border: 1px solid #d9dbdd;
    width: 244px;
    height: 38px;
    line-height: 38px;
    font-size: 20px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    margin-top: 6px;
    padding: 0 5px;
}
.user_form .field_with_errors{
    display: inline;
}
.user_form .field_with_errors label{
    color: #cf4425;
}
.user_form .field_with_errors input{
    border: 1px solid #ff876f;
}
.user_form textarea{
    border: 1px solid #d9dbdd;
    width: 244px;
    height: 135px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    margin-top: 6px;
    padding: 5px 5px 0;
}
.user_form select{
    margin-top: 6px;
}
.user_form input[type="radio"],
.user_form input[type="checkbox"]{
    width: auto;
    height: auto;
}

.user_form input[type="submit"]{
    border: 0 none;
    color: #fff;
    width: auto;
    text-transform: uppercase;
    font-weight: bold;
    height: 33px;
    line-height:33px;
    padding: 0 30px 0 10px;
    cursor: pointer;
    font-family: Tahoma;
    font-size: 12px;
    background: url("submit-arrow.png") no-repeat right center #2069b4;
}
.user_form div{
    margin-bottom: 10px;
}
.user_form .hint{
    font-style: italic;
    font-size: 12px;
    color: #C3C5C6;
}
.user_form .remember_me label,
.user_form .remember_me a{
    font-size: 11px;
}
.user_form label.gender{
    font-size: 12px;
    margin-right: 15px;
}
.user_form #error_explanation h2{
    font-weight: normal;
    font-size: 14px;
    color: #cf4425;
    padding-left: 35px;
    background: url("icon-error.png") no-repeat 9px center;
}
.user_form #error_explanation ul{
    padding-left: 35px;
}
.user_form #error_explanation li{
    color: #cf4425;
    font-size: 13px;
    list-style-type: disc;
}

#sidebar{
    float: left;
    width: 202px;
    text-align: left;
}

#sidebar + #content{
    margin-left: 215px;
}

#content{
    text-align: left;
}

.content{
    border: 1px solid #eeefef;
    background-color: #fff;
    margin-bottom: 20px;
}

#content h1,
#sidebar h2{
    background-color: #3f4551;
    color: #fff;
    font-size: 15px;
    font-weight: normal;
    padding: 0 15px;
    margin: 0;
    height: 40px;
    line-height: 40px;
    text-transform: uppercase;
}
.inner{
    padding: 15px 15px 0;
}
#edit_user{
    width: auto;
}
#edit_user input,
#edit_user textarea{
    width: 700px;
}
#edit_user input[type="radio"],
#edit_user input[type="submit"]{
    width: auto;
}

.avatar{
    border: 1px solid #EEEFEF;
}

#sidebar .avatar{
    margin-bottom: 20px;
}
/*
.label_avatar{
    display: block;
    overflow: hidden;
    width: 202px;
}

.label_avatar input{
    margin: 0;
    padding: 0;
}*/
.file-wrapper {
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    position: relative;
}
.button {
    border: 0 none;
    color: #FFFFFF;
    cursor: pointer;
    font-family: Tahoma, sans-serif;
    font-size: 12px;
    font-weight: bold;
    display: inline-block;
    height: 33px;
    background-color: #2069B4;
    line-height: 33px;
    padding: 0 10px;
    text-transform: uppercase;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}
#sidebar form{
    margin-bottom: 15px;
}
.file-wrapper .button {
    padding-right: 35px;
    background: url("icon-pencil.png") no-repeat scroll right center #2069B4;
}
.file-wrapper input {
    cursor: pointer;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    font-size: 100px;
    filter: alpha(opacity=1);
    -moz-opacity: 0.01;
    opacity: 0.01;
}
#edit_user input[type="file"]{
    width: auto;
    margin: 0;
}
#users_form{
    margin-bottom: 15px;
}
#users_table{
    width: 100%;
    margin-bottom: 15px;
}
#users_table td{
    padding: 10px;
}
#users_table thead{
    background-color: #5D6677;
    color: #fff;
}
#users_table tbody tr:nth-child(odd){
    background-color: #F8F9FA;
}
#users_table .check{
    width: 20px;
}
#users_table thead .check,
#users_table thead .nick{
    border-right: 1px solid #747C8A;
}
#users_table tbody .check,
#users_table tbody .nick{
    border-right: 1px solid #FDFDFE;
}
#users_table .avatar{
    vertical-align: middle;
    margin-right: 15px;
}
#users_table .actions{
    float: right;
}
#users_table .action_edit{
    display: inline-block;
    background: url("icon-pencil-grey.png") no-repeat center center;
    width: 15px;
    height: 15px;
    margin-right: 5px;
}
#users_table .action_delete{
    display: inline-block;
    background: url("icon-trash.png") no-repeat center center;
    width: 15px;
    height: 15px;
}
#users_form input[type="submit"]{
    border: 0 none;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    height: 27px;
    line-height:27px;
    padding: 0 10px;
    margin-left: 5px;
    cursor: pointer;
    font-family: Tahoma;
    font-size: 11px;
    background-color: #2069b4;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
#notice{
    line-height: 35px;
    height: 35px;
    cursor: pointer;
    display: block;
    padding: 0 20px;
    margin-bottom: 15px;
    color: #06B71C;
    font-size: 15px;
    font-weight: bold;
    background-color: #DEFF99;
    margin-bottom: 15px;
    border: 2px solid #C4EA58;
}
#info h2{
    margin-bottom: 2px;
}
#info .status{
    margin-bottom: 5px;
}
.sep{
    background: url("separator-bg.png") repeat-x 0 0;
    height: 5px;
}
#info .profile{
    overflow: hidden;
    line-height: 25px;
    margin: 10px 0;
}
#info .profile dt{
    float: left;
    clear: left;
    width: 130px;
    color: #777;
}
#info .profile dd{
    margin-left: 140px;
}
.post{
    padding-bottom: 20px;
    background: url("separator-bg.png") repeat-x 0 bottom;
    margin-bottom: 15px;
    overflow: hidden;
}

.post .author_avatar{
    float: left;
    width: 52px;
    height: 52px;
}
.post .post_info{
    margin-left: 62px;
}
.post .author_name{
    font-weight: bold;
    font-size: 12px;
    margin-bottom: 5px;
}
.post .picture{
    margin-top: 8px;
}
.new_post{
    padding: 15px;
    background-color: #f8f9fa;
    position: relative;
}
.new_post textarea{
    width: 574px;
    height: 37px;
    border: 1px solid #d9dbdd;
    padding: 2px 135px 2px 2px;
    border-radius: 3px;
}
.new_post .file-wrapper{
    position: absolute;
    right: 20px;
    top: 20px;
}
.new_post .file-wrapper .button{
    background-image: url("icon-plus.png");
}
#followers li{
    margin-bottom: 15px;
    overflow: hidden;
}
#followers .avatar{
    float: left;
    margin: 0;
}
#followers .name{
    margin-left: 60px;
    min-height: 52px;
}
#followers .name a{
    vertical-align: middle;
    display: table-cell;
    height: 52px;
    text-decoration: none;
}

.comment{
    margin-top: 10px;
    padding-bottom: 15px;
    overflow: hidden;
    background: url("separator-bg.png") repeat-x 0 bottom;
}
.comment_form{
    margin-top: 10px;
    text-align: right;
}
.comment_form .button{
    line-height: 27px;
    height: 27px;
    font-size: 11px;
}
.comment .comment_info{
    margin-left: 62px;
}
.comment .time{
    color: #b1b3ba;
    font-size: 11px;
    margin-top: 5px;
}
.comment_form textarea{
    border: 1px solid #d9dbdd;
    padding: 2px;
    width: 645px;
    border-radius: 3px;
}
#users_form .pagination{
    float: right;
}
.pagination .disabled{
    display: none;
}